td {
   /*border: 1px solid #000;*/
}

.darkerBG {
   background-color: #EAEAEA;
}

.taskTable {
   border-bottom: 1px solid #C3C3C3;
}

.taskRow {
   border-bottom: solid 1px #B8B8B8;
}

.complete {
   background-color: #4AAF46
}